.registration__form {
    border: 1px solid black;
    padding: 40px;
    width: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}
