// body {
//     background: rgb(52, 56, 61);
// }
.labelJack,
.inputJack {
    background-color: yellow;
    color: black;
}
.registration__form {
    border: 1px solid black;
    padding: 40px;
    width: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    color: white;
    background: rgb(28, 30, 33);
}

.registration__title {
    color: rgb(255, 255, 255);
    font-size: 18px;
}
